.nav {
  background-color: #807e7e;
  overflow: hidden;
  height: auto;
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  color: whitesmoke;
  padding-bottom: 5px;
}

.button-section {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color:steelblue;
}

.button-section:hover {
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  border: 0.1em solid steelblue;
}

.clicked {
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  border: 0.1em solid steelblue;
}
